<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../richtext/richtext.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../richtext/jquery.richtext.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script>
        $(document).ready(function () {

            // $('#address').richText();

            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.avatar').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
            $(".file-upload").on('change', function () {
                readURL(this);
            });
        });
    </script>
</head>


<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1 th:if="${id == null || id == 0}">Add User</h1>
            <h1 th:if="${id>0}">Update User</h1>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" th:href="@{/admin/adduser(id=${id})}">Home</a></li>
                
        </div>
        <div class="col-sm-2"><a th:href="@{/admin/index}"><img title="Back Home" src="/img/logo.png"></a></div>
    </div>
    <hr>
    <form class="form" th:action="@{/admin/updateTrainer(id=${id})}" method="post" th:object="${trainer}"
        enctype="multipart/form-data">
        <input type="hidden" th:field="*{infoid}">
        <div class="form-group">

            <div class="col-xs-12">
                <h4>Experience[[${trainer.infoid}]]</h4>
                <input type="text" class="form-control" th:field="*{experience}" placeholder="Full name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <br>
                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>
                    Save</button>
                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
            </div>
        </div>
    </form>

    <hr>

</div><!--/tab-pane-->

</div><!--/tab-pane-->
</div><!--/tab-content-->

</div><!--/tab-content-->

</div><!--/col-9-->

</div><!--/row--><!--/row-->