<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <style>
    .gradient-form {
      background: -o-linear-gradient(305deg, #bca6e6 0%, #979292 100%);
      background: linear-gradient(145deg, #bca6e6 0%, #979292 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bca6e6", endColorstr="#979292", GradientType=1);
    }

    .gradient-custom-2 {
      background-image:
    }
  </style>
  <title>FPT Yoga</title>
</head>

<body>
  <section class="h-100 gradient-form">
    <div class="container py-4 h-30">
      <div class="row d-flex justify-content-center align-items-center h-100" style="border-radius: 50px;">
        <div class="col-xl-5">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="card-body p-md-4 mx-md-4">
                <div class="text-center">
                  <a class="navbar-brand" th:href="@{/index}">
                    <center>
                      <div class="logo-for-all"><img src="img/login/11zon_resized/logoV2-removebg-preview_1_11zon.png"
                          width="100%"></div>
                    </center>
                  </a>
                  <h4 class="mt-1 mb-5 pb-1">We understand you</h4>
                  <h4 class="mt-1 mb-4 pb-1">Login</h4>
                </div>
                <form th:action="@{/loginpage}" method="post" th:object="${user}">
                  <div class="form-outline mb-4">
                    <input type="email" class="form-control" th:field="*{email}" placeholder="email address">
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" class="form-control" th:field="*{password}" placeholder="Password">
                    <span style="color: red;">[[${error}]]</span>
                  </div>

                  <!-- <div class="row">
                    <div class="col text-left">
                      <input type="checkbox" name="remember" value="true">Remember Me
                    </div> -->
                  <div class="col text-right">
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>


                  <div class="text-center pt-1 mb-3 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log
                      in</button>
                  </div>
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-1 me-5 m-2">Don't have an account?</p>
                    <a th:href="@{/createAccount}" class="btn btn-outline-danger">Create new account</a>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>