<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>FPT Yoga</title>
	<meta charset="UTF-8">
	<meta name="description" content="Ahana Yoga HTML Template">
	<meta name="keywords" content="yoga, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/owl.carousel.min.css" />
	<link rel="stylesheet" href="css/nice-select.css" />
	<link rel="stylesheet" href="css/jquery-ui.min.css" />
	<link rel="stylesheet" href="css/slicknav.min.css" />

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css" />


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
	<header class="header-section">
		<div th:replace="~{common :: header-bottom}"></div>
	</header>
	<!-- Header Section end -->

	<!-- Infor Model -->
	<div th:replace="~{common :: infor-model}"></div>
	<!-- Infor Model end -->

	<!-- Page top Section -->
	<section class="page-top-section page-sp set-bg" data-setbg="img/page-top-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 m-auto text-white">
					<h2>All of Your Schedule</h2>
					<p>Welcome to FPT Yoga! We are an innovative yoga brand that combines tradition and modern
						technology,
						we are committed to bringing you a great yoga experience and improving your overall health!</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Page top Section end -->

	<div class="container" th:if="${roleid == 4}">
		<div class="event-filter-warp">
			<div class="row">
				<div class="col-xl-9">
					<a  class="site-btn sb-gradient"
						th:href="@{/schedule(userid=${session.user.userid}, status=${3}, roleid=${session.user.role.roleid})}">Schedule</a>

					<a class="site-btn sb-gradient"
						th:href="@{/schedule(userid=${session.user.userid}, status=${1}, roleid=${session.user.role.roleid})}">Booking</a>

					<a class="site-btn sb-gradient"
						th:href="@{/schedule(userid=${session.user.userid}, status=${0}, roleid=${session.user.role.roleid})}">History</a>

				</div>
			</div>
		</div>
	</div>


	<!-- Events Section -->
	<div class="container">
		<div class="w-95 w-md-75 w-lg-60 w-xl-55 mx-auto mb-6 text-center">

		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="schedule-table">
					<table class="table bg-white" th:if="${status == 3 AND roleid == 4}">
						<thead>
							<tr>
								<th>Routine</th>
								<th>8 am</th>
								<th>10 am</th>
								<th>13 pm</th>
								<th class="last">15 pm</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="day">Monday</td>
								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Mon, Wed, Fri' AND booked.classid.timeid.timeid == 1}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Mon, Wed, Fri' AND booked.classid.timeid.timeid == 2}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Mon, Wed, Fri' AND booked.classid.timeid.timeid == 3}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Mon, Wed, Fri' AND booked.classid.timeid.timeid == 4}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>
							</tr>

							<tr>
								<td class="day">Tuesday</td>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Tue, Thu, Sat' AND booked.classid.timeid.timeid == 1}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Tue, Thu, Sat' AND booked.classid.timeid.timeid == 2}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Tue, Thu, Sat' AND booked.classid.timeid.timeid == 3}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Tue, Thu, Sat' AND booked.classid.timeid.timeid == 4}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

							</tr>

							<tr>
								<td class="day">Wednesday</td>
								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Mon, Wed, Fri' AND booked.classid.timeid.timeid == 1}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Mon, Wed, Fri' AND booked.classid.timeid.timeid == 2}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Mon, Wed, Fri' AND booked.classid.timeid.timeid == 3}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Mon, Wed, Fri' AND booked.classid.timeid.timeid == 4}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

							</tr>

							<tr>
								<td class="day">Thursday</td>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Tue, Thu, Sat' AND booked.classid.timeid.timeid == 1}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Tue, Thu, Sat' AND booked.classid.timeid.timeid == 2}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Tue, Thu, Sat' AND booked.classid.timeid.timeid == 3}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Tue, Thu, Sat' AND booked.classid.timeid.timeid == 4}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>
							</tr>

							<tr>
								<td class="day">Friday</td>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Mon, Wed, Fri' AND booked.classid.timeid.timeid == 1}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Mon, Wed, Fri' AND booked.classid.timeid.timeid == 2}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Mon, Wed, Fri' AND booked.classid.timeid.timeid == 3}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Mon, Wed, Fri' AND booked.classid.timeid.timeid == 4}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

							</tr>

							<tr>
								<td class="day">Saturday</td>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Tue, Thu, Sat' AND booked.classid.timeid.timeid == 1}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Tue, Thu, Sat' AND booked.classid.timeid.timeid == 2}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Tue, Thu, Sat' AND booked.classid.timeid.timeid == 3}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Tue, Thu, Sat' AND booked.classid.timeid.timeid == 4}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>
							</tr>

							<tr>
								<td class="day">Sunday</td>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Sun' AND booked.classid.timeid.timeid == 5}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<td></td>

								<th:block th:if="${#lists.isEmpty(booked)}">
									<td></td>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(booked)}">
									<td>
										<div class="active" th:each="booked : ${booked}"
											th:if="${booked.classid.date == 'Sun' AND booked.classid.timeid.timeid == 6}">
											<h4 th:text="${booked.classid.courseid.coursename}"></h4>
											<p
												th:text="${booked.classid.timeid.starttime + ' - ' + booked.classid.timeid.endtime}">
											</p>
											[[${booked.classid.trainerid.fullname}]]
										</div>
									</td>
								</th:block>

								<td></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<section class="events-page-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6" th:if="${((status == 0 OR status == 1)AND roleid == 4)}"
					th:each="booked : ${booked}">
					<div class="event-item">
						<div class="ei-img">
							<img th:src="@{/staff/downloads-png(courseid=${booked.classid.courseid.courseid})}"
								alt="PNG Image" width="222px" height="186px">
						</div>
						<div class="ei-text">
							<h4>
								<a th:if="${booked.status == true}"
									th:href="@{/class-details(classid=${booked.classid.classid})}">[[${booked.classid.courseid.coursename}]]</a>
								<a th:if="${booked.status == false}"
									th:href="@{/create_payment(classID=${booked.classid.classid}, date=${booked.classid.date}, timeid=${booked.classid.timeid.timeid}, userID=${session.user.userid}, duration=${booked.classid.courseid.duration})}">[[${booked.classid.courseid.coursename}]]</a>
							</h4>
							<ul>
								<li><i class="material-icons">person</i>[[${booked.classid.trainerid.fullname}]]</li>
								<li><i class="material-icons">alarm</i>[[${booked.classid.timeid.starttime}]] -
									[[${booked.classid.timeid.endtime}]]</li>
								<li><i class="material-icons">map</i>[[${booked.classid.roomid.roomname}]] - <i
										class="material-icons">event_available</i>[[${booked.classid.date}]]</li>
								<div th:if="${booked.status == true}" style="color: blue;">Expires on:
									[[${#temporals.format(booked.expired, "yy/MM/dd HH:mm:ss")}]]</div>
								<div th:if="${booked.status == false}" style="color: red;">Expired:
									[[${#temporals.format(booked.expired, "yy/MM/dd HH:mm:ss")}]]</div>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="schedule-table">
						<table class="table bg-white" th:if="${roleid == 3}">
							<thead>
								<tr>
									<th>Routine</th>
									<th>8 am</th>
									<th>10 am</th>
									<th>13 pm</th>
									<th class="last">15 pm</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td class="day">Monday</td>
									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Mon, Wed, Fri' && class.timeid.timeid == 1}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Mon, Wed, Fri' && class.timeid.timeid == 2}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Mon, Wed, Fri' && class.timeid.timeid == 3}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Mon, Wed, Fri' && class.timeid.timeid == 4}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

								</tr>

								<tr>
									<td class="day">Tuesday</td>
									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Tue, Thu, Sat' && class.timeid.timeid == 1}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Tue, Thu, Sat' && class.timeid.timeid == 2}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Tue, Thu, Sat' && class.timeid.timeid == 3}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Tue, Thu, Sat' && class.timeid.timeid == 4}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

								</tr>

								<tr>
									<td class="day">Wednesday</td>
									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Mon, Wed, Fri' && class.timeid.timeid == 1}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Mon, Wed, Fri' && class.timeid.timeid == 2}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Mon, Wed, Fri' && class.timeid.timeid == 3}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Mon, Wed, Fri' && class.timeid.timeid == 4}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

								</tr>

								<tr>
									<td class="day">Thursday</td>
									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Tue, Thu, Sat' && class.timeid.timeid == 1}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Tue, Thu, Sat' && class.timeid.timeid == 2}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Tue, Thu, Sat' && class.timeid.timeid == 3}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Tue, Thu, Sat' && class.timeid.timeid == 4}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

								</tr>

								<tr>
									<td class="day">Friday</td>
									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Mon, Wed, Fri' && class.timeid.timeid == 1}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Mon, Wed, Fri' && class.timeid.timeid == 2}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Mon, Wed, Fri' && class.timeid.timeid == 3}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Mon, Wed, Fri' && class.timeid.timeid == 4}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

								</tr>

								<tr>
									<td class="day">Saturday</td>
									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Tue, Thu, Sat' && class.timeid.timeid == 1}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Tue, Thu, Sat' && class.timeid.timeid == 2}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Tue, Thu, Sat' && class.timeid.timeid == 3}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Tue, Thu, Sat' && class.timeid.timeid == 4}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

								</tr>

								<tr>
									<td class="day">Sunday</td>
									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Sun' && class.timeid.timeid == 5}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<td></td>

									<th:block th:if="${#lists.isEmpty(classes)}">
										<td></td>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(classes)}">
										<td>
											<div class="active" th:each="class : ${classes}"
												th:if="${class.date == 'Sun' && class.timeid.timeid == 6}">
												<h4>
													<a th:href="@{/class-details(classid=${class.classid})}"
														th:text="${class.courseid.coursename}"></a>
												</h4>
												<p th:text="${class.timeid.starttime + ' - ' + class.timeid.endtime}">
												</p>
											</div>
										</td>
									</th:block>

									<td></td>

								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>


		</div>
	</section>
	<!-- Events Section end -->

	<!-- Gallery Section -->
	<div th:replace="~{common :: gallery-section}"></div>
	<!-- Gallery Section end -->

	<!-- Footer Section -->
	<footer class="footer-section">
		<div th:replace="~{common :: footer}"></div>
	</footer>
	<!-- Footer Section end -->

	<div class="back-to-top"><img src="img/icons/up-arrow.png" alt=""></div>

	<!-- Search model -->
	<div class="search-model set-bg" data-setbg="img/search-bg.jpg">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch"><i class="material-icons">close</i></div>
			<form class="search-moderl-form">
				<input type="text" id="search-input" placeholder="Search">
				<button><img src="img/icons/search-2.png" alt=""></button>
			</form>
		</div>
	</div>
	<!-- Search model end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>

</body>

</html>
